<div class="containerHead">
	<app-navbar></app-navbar>
</div>
<div class="mt containerBody">
	<h1 class="txColor1 mbtl lg">Create Message</h1>
	<div class="containerMsg">
		<div class="containerCreateMsg">
			<form (submit)="onSubmit($event)">
				<div class="containerTxbt mbt lg">
					<p class="txColor1">Title message</p>
					<app-text-input
						placeholder="Talk about me"
						changetype="text"
						[search]="false"
						name="title"
						(text$)="inputData($event)"
					></app-text-input>
				</div>
				<div class=" containerTxbt mbt lg">
						<p class="txColor1">Message</p>
						<textarea
							id=""
							cols="47"
							rows="7"
							[placeholder]="placeMsg"
							maxlength="700"
							(input)="inputData($event)"
							title="message"
						></textarea>
				</div>
				<div class="containerButtonShare lg mbtl">
					<button class="default ripple">Share</button>
				</div>
			</form>
		</div>

		<div class="msg">
			<app-card-message [detal]="detal">
			</app-card-message>
		</div>
	</div>
</div>
