$background-color: #16202A;
$color1: #FCFF6E;
$color2: #D9D9D9;
$darkColor: #07111B;
$secoundColor: #595B5E;

$ripple1: #D9D9D9;
$ripple2: #f3f1f1;

$rippleDark1: #1b2732;
$rippleDark2: #4b6a85;


//@import 'src/~variables.scss'; //* Copy line import in other sass style
