@import 'src/~variables.scss';




.icon_wrap {
	cursor: pointer;
}

.notifications {
	margin-right: 10px;
}

.iconSz {
	font-size: 40px;
	// background-color: $color1;
}

.notifications {
	position: relative;
}

.notification_dd {
	position: absolute;
	top: 48px;
	right: -15px;
	user-select: none;
	background: $color2;
	border: 1px solid $color2;
	width: 310px;
	height: auto;
	display: none;
	border-radius: 3px;
	box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.125),
		-10px -10px 35px rgba(0, 0, 0, 0.125);
}

.notification_dd:before {
	content: "";
	position: absolute;
	top: -20px;
	right: 15px;
	border: 10px solid;
	border-color: transparent transparent $color2 transparent;
}

.notification_dd li {
	border-bottom: 1px solid $secoundColor;
	padding: 10px 0px;
	height: 115px;
}

.notification_dd li .notify_data {
	margin: 0 15px;
	width: 230px;
}

.notification_dd li .notify_data .title {
	color: $darkColor;
	font-weight: bold;
}

.notification_dd li .notify_data .sub_title {
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 5px;
	width: 180px;
}

.titleTT {

	border-bottom: none !important;
	padding: 15px 0px !important;
	font-weight: bold !important;
	height: inherit !important;
	margin-bottom: -10px;
}

.notification_dd li.show_all {
	padding: 20px;
	display: flex;
	height: 60px;
	justify-content: center;
}

.notification_dd li.show_all p {
	font-weight: 800;
	color: $darkColor;
	cursor: pointer;
}

.notification_dd li.show_all p:hover {
	text-decoration: underline;
}


.icon_wrap:hover,
.notifications.active .icon_wrap {
	color: $darkColor;
}

.profiletex {
	font-weight: 700 !important;
	font-size: x-large;
}

.notifications.active .notification_dd {
	display: block;
}

svg {
	stroke: white;
	width: 24px;
	height: 24px;
}

.op2 {
	fill: white;
	stroke: white;
}

.icoT {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: $color1;

		.op1 {
			stroke: $background-color;
		}

		.op2 {
			stroke: $color1;
			fill: $background-color;
		}
	}
}


[data-after-text],
[data-before-text] {
	--badge-offset-x: calc(5px - var(--badge-size) / 3);
	--badge-offset-y: calc(6px - var(--badge-size) / 3);
	--badge-size: 12px;

	--b: initial;
	--bdrs: 0;
	--d: inline-flex;
	--fz: 0.5rem;
	--fw: 700;
	--h: auto;
	--l: initial;
	--m: 0.4rem;
	--p: 0;
	--pos: static;
	--r: initial;
	--t: initial;
	--w: initial;

	position: relative;
}

[data-after-text]:not([data-after-text=""])::after {
	content: attr(data-after-text);
}

[data-after-text]:not([data-after-text=""])::after,
[data-before-text]:not([data-before-text=""])::before {
	align-items: center;
	background: #FCFF6E;
	border-radius: var(--bdrs);
	bottom: var(--b);
	box-sizing: border-box;
	color: var(--c);
	display: var(--d);
	font-size: var(--fz);
	font-weight: var(--fw);
	height: var(--h);
	justify-content: center;
	left: var(--l);
	padding: var(--p);
	position: var(--pos);
	right: var(--r);
	text-decoration: none;
	text-transform: var(--tt);
	top: var(--t);
	width: var(--w);
}

/* MODIFIERS */
[data-after-type*="badge"]::after,
[data-before-type*="badge"]::before {
	--bdrs: var(--badge-size);
	--bxsh: 0 0 0 2px rgba(255, 255, 255, 0.5);
	--h: var(--badge-size);
	--p: 0;
	--pos: absolute;
	--w: var(--badge-size);
}

[data-after-type*="badge"][data-after-type*="top"]::after,
[data-before-type*="badge"][data-before-type*="top"]::before {
	--m: 0;
	--t: var(--badge-offset-y);
}
[data-after-type*="badge"][data-after-type*="left"]::after,
[data-before-type*="badge"][data-before-type*="left"]::before {
	--l: var(--badge-offset-x);
	--m: 0;
}

.settings{
	color: $darkColor;
}
